.pagination {
    max-width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 1rem;
}

.pagination p {
    cursor: pointer;
}

.pagination p:hover {
    transform: scale(1.3);
    transition: .4s ease-in-out;
    color: #118c4f;
}

.active {
    color: #118c4f;
}