.coin_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: 0.5rem 1rem;
}

.coin_row:hover {
    transform: scale(1.02);
    transition: .4s ease-in-out;
    cursor: pointer;
}

.coin_row img {
    height: 40px;
    width: auto;
    margin-bottom: 2px;
}

.img_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
